<section class="container pt-5 my-5 activities" id="activities">
    <header>
        <h2>Activities</h2>
    </header>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button z-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Pre-Primary
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
            <% if (Array.isArray(prePrimaryCardTitle)) { %>
                <div class="row">
                <% for (let i = 0; i < prePrimaryCardTitle.length; i++) { %>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/prePrimaryActivityImages/<%= `prePrimaryActivityImage${i+1}` %>.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5><%= prePrimaryCardTitle[i] %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            <% } else { %> 
                <div class="row">
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/prePrimaryActivityImages/prePrimaryActivityImage1.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5><%= prePrimaryCardTitle %></h5>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>  
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed z-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Primary
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <% if (Array.isArray(primaryCardTitle)) { %>
                    <div class="row">
                    <% for (let i = 0; i < primaryCardTitle.length; i++) { %>
                        <div class="col-lg-6 activity my-3">
                            <div class="d-flex justify-content-around align-items-between">
                                <div class="img-container">
                                    <img class="w-100 h-100" src="./img/activities/primaryActivityImages/<%= `prePrimaryActivityImage${i+1}` %>.png">
                                </div>
                                <div class="texts ms-3 w-75 pt-5">
                                    <h5><%= primaryCardTitle[i] %></h5>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    </div>
                <% } else { %> 
                    <div class="row">
                        <div class="col-lg-6 activity my-3">
                            <div class="d-flex justify-content-around align-items-between">
                                <div class="img-container">
                                    <img class="w-100 h-100" src="./img/activities/primaryActivityImages/primaryActivityImage1.png">
                                </div>
                                <div class="texts ms-3 w-75 pt-5">
                                    <h5><%= primaryCardTitle %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>