<section class="d-flex 
                justify-content-around 
                hero"
                id="home">

        <!-- inner-hero division contains 1 division i.e.,:
                1. texts
                    the text inside .texts divsion is centre-aligned at screen size sm.
                    the text inside .texts divsion is left-aligned at screen size md.
                    the buttons inside .texts divsion is in flexbox (around) at screen size sm.
                    the buttons inside .texts divsion is in flexbox (start) at screen size md.
        -->
        <div class="d-flex 
                flex-column 
                align-items-between 
                justify-content-around 
                inner-hero">
            <div class="texts text-center text-sm-start text-white px-3 ml-md-5">
                <h2 class=""> <%= heroTitle %> </h2>
                <h1 class="font-weight-bold"> <%= heroSubTitle %> </h1>
                <p class="my-4 font-weight-normal text-start"><%= heroParagraph %></p>
                <div class="w-100 
                    d-flex 
                    justify-content-around 
                    justify-content-sm-start 
                    align-items-center 
                    font-weight-normal
                    mt-sm-5">
                    <!-- <button class="py-2 px-3 py-sm-2 px-sm-5 me-3 me-sm-4">Read More</button> -->

                    <% const [name, link] = heroButtonLink.split('[') %>
                    <a href="<%= link.replace(']', '') %>" class="py-2 px-3 py-sm-2 px-sm-5 bg-white text-dark"> <%= name %> </a>
                </div>
            </div>


        </div>
    </section>