<style>
    .inspirationImg {
        box-shadow: -1px 1px 14px -3px #000000bf;
    }
</style>
<section class="about_section bg-white py-5" id="our-philosophy">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
        <div class="img-box w-50 h-50">
            <img class="inspirationImg" src="img/inspiration.png" alt="">
        </div>
        </div>
        <div class="col-md-5 col-lg-4">
        <div class="detail-box">
            <div class="heading_container">
            <h2>
                <center> <%= philosophyTitle %> </center>
            </h2>
            </div>
            <p>
            <center> <%= philosophySubtitle %> </center>
            </p>
            <div class="d-flex justify-content-center">
            
            <% const [name, link] = philosophyLink.split('[') %>
            <!-- <a class="readmore" href="<%= link.replace(']', '') %>">
                <%= name %>
            </a> -->
            </div>

        </div>
        </div>
    </div>
    <div class="row justify-content-md-center mx-2">
        <p class="mt-sm-4 col-12 col-md-10 fs-5 fw-medium">
            <%= philosophyParagraph %>
        </p>
    </div>
    </div>


</section>
