<!DOCTYPE html>
<html lang="en">
<head>
       <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <%- include('./sections/stylesheets', {contentJson}) %>
    
</head>
<body>
    <!-- Navigation Bar starts -->
    <%- include('./sections/navbar', {navLinks: contentJson.navLinks}) %>
    <!-- Navigation Bar ends -->
    
    
    <!-- Testimonials Starts -->
    <%- include('./sections/testimonials', {testimonialName: contentJson.testimonialName, testimonialDesignation: contentJson.testimonialDesignation, testimonialParagraph: contentJson.testimonialParagraph}) %>
    <!-- Testimonials Ends -->

    <!-- info section starts -->
    <%- include('./sections/info-section', {phoneNumber: contentJson.phoneNumber, emailId: contentJson.emailId, facebookLink: contentJson.facebookLink, instagramLink: contentJson.instagramLink, branchAddress: contentJson.branchAddress}) %>
    <!-- info section ends -->
    
    <!-- Social Medial Links starts -->
    <%- include('./sections/social-media-links', {emailId: contentJson.emailId, facebookLink: contentJson.facebookLink, instagramLink: contentJson.instagramLink}) %>
    <!-- Social Medial Links ends -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>&copy; 2019 All Rights Reserved By GEMS Pune</p>
    </section>
    <!-- footer section -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="./script/navbar.js"></script>
    <script src="./script/hero&activities.js"></script>
</body>
</html>